.. _ref_data_${name}:

${name}
${h1_underscore}

Here you will find a collection of input and output datasets that jobs of
the :ref:`ref_projects_${name}` project use and create.

.. toctree::
   :maxdepth: 1

