.. _ref_project_job_${name}:

${name}
${h1_underscore}

This is reference information about the **${name}** job.

.. include:: ${inclusion}

The following graph displays the ${name} job's dependencies, input data, and output:

.. container::

   .. raw:: html
      :file: ${filename}

