.. _ref_projects_${name}:

${name}
${h1_underscore}

These documents provide reference information about jobs in the **${name}** project.
To get more details, see :href:`Git repository<${git_url}>``.

**Jobs**:

.. toctree::
   :maxdepth: 1

